<!DOCTYPE html>
<html>
  <head>
    <title>TwoFactorSample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= link_to 'Home', root_path %> /
      <%= link_to 'Groups', groups_path %> /
      <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path %> /
        <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
    </div>
    <hr>
    <div class="container">
      <% if flash[:notice] %><div class='notice'><%= flash[:notice] %><% end %>
      <% if flash[:alert] %><div class='alert'><%= flash[:alert] %><% end %>
      <%= yield %>
    </div>
  </body>
</html>
